<div class="height100 overflow">
  <form [formGroup]="form" fxLayout="row" fxLayoutAlign="space-evenly center">
    <p>Filters:</p>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of types" [value]="type.code">
          {{type.des}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statuses" [value]="status.code">
          {{status.des}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date Range</mat-label>
      <input matInput [satDatepicker]="picker" formControlName="date">
      <sat-datepicker #picker [rangeMode]="true"> </sat-datepicker>
      <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    </mat-form-field>
  </form>
  <mat-grid-list cols="3" rowHeight="2.5:1">
    <mat-grid-tile>Order 1</mat-grid-tile>
    <mat-grid-tile>Order 2</mat-grid-tile>
    <mat-grid-tile>Order 3</mat-grid-tile>
    <mat-grid-tile>Order 4</mat-grid-tile>
    <mat-grid-tile>Order 5</mat-grid-tile>
    <mat-grid-tile>Order 6</mat-grid-tile>
    <mat-grid-tile>Order 7</mat-grid-tile>
    <mat-grid-tile>Order 8</mat-grid-tile>
    <mat-grid-tile>Order 9</mat-grid-tile>
    <mat-grid-tile>Order 10</mat-grid-tile>
    <mat-grid-tile>Order 11</mat-grid-tile>
    <mat-grid-tile>Order 12</mat-grid-tile>
    <mat-grid-tile>Order 13</mat-grid-tile>
    <mat-grid-tile>Order 14</mat-grid-tile>
    <mat-grid-tile>Order 15</mat-grid-tile>
    <mat-grid-tile>Order 16</mat-grid-tile>
    <mat-grid-tile>Order 17</mat-grid-tile>
    <mat-grid-tile>Order 18</mat-grid-tile>
    <mat-grid-tile>Order 19</mat-grid-tile>
    <mat-grid-tile>Order 20</mat-grid-tile>
    <mat-grid-tile>Order 21</mat-grid-tile>
  </mat-grid-list>
</div>