<div fxLayout="column" class="height100">
  <app-filters [model]="filterModel" (filtersApply)="onFiltersApply($event)"></app-filters>
  <div fxFlex class="overflow">
    <div [ngSwitch]="toFulfill.length">
      <mat-grid-list *ngSwitchCase="0" cols="1" rowHeight="10:1" gutterSize="5px" class="gridList">
        <mat-grid-tile>
          Nothing To Show
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list *ngSwitchDefault cols="3" rowHeight="1.5:1" gutterSize="5px" class="gridList">
        <mat-grid-tile *ngFor="let order of toFulfill">
          <mat-card fxLayout="column" class="height100 width100">
            <mat-card-title fxFlex="nogrow">
              <div class="title">
                Order: {{order.Product.Name}}
              </div>
              <div class="subtitle" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                <div>
                  <b>Status:</b> {{enums.typeToString('orderStatus', order.Status)}}
                </div>
                <div>
                  <b>Type:</b> {{enums.typeToString('productType', order.Product.Type)}}
                </div>
                <div>
                  <b>Date:</b> {{order.StartDate | date: 'mediumDate'}}
                </div>
              </div>
            </mat-card-title>
            <mat-card-content fxFlex="grow" class="overflow">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                <div><b>Product:</b> {{order.Product.Name}}</div>
                <mat-icon class="hoverHand" (click)="onProductDetailClick(order.product.id)">link</mat-icon>
              </div>
              <div><b>Quantity:</b> {{order.Quantity}}</div>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                <div><b>Contact:</b> {{order.DeliverToUser.FirstName}} {{order.DeliverToUser.LastName}}</div>
                <mat-icon class="hoverHand" (click)="onUserDetailClick(order.DeliverToUser.Id)">link</mat-icon>
              </div>
              <div><b>Phone Number:</b> {{order.DeliverToPhoneNumber}}</div>
              <div><b>Delivery Address:</b> {{order.DeliverToAddress}}</div>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
              <button mat-button (click)="onOrderDetailClick(order.Id)">
                <mat-icon>web_asset</mat-icon>
                <span>Details</span>
              </button>
              <div *ngIf="enums.typeToString('orderStatus', order.Status) === 'New'">
                <button mat-button color="primary" (click)="onOrderCompletedClick(order.Id)">
                  <mat-icon>done</mat-icon>
                  <span>Delivered</span>
                </button>
                <button mat-button color="warn" (click)="onOrderCancelledClick(order.Id)">
                  <mat-icon>cancel</mat-icon>
                  <span>Cancel</span>
                </button>
              </div>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
