<div fxLayout="column" class="height100">
  <app-filters [model]="filterModel" (filtersApply)="onFiltersApply($event)"></app-filters>
  <div fxFlex class="content">
    <div [ngSwitch]="products.length">
      <mat-grid-list *ngSwitchCase="0" cols="1" rowHeight="10:1" gutterSize="5px">
        <mat-grid-tile>
          Nothing To Show
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list *ngSwitchDefault cols="4" rowHeight="1:1.1" gutterSize="5px">
        <mat-grid-tile *ngFor="let product of products">
          <div class="card" fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="5px">
            <div class="titleRow" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon>storefront</mat-icon>
              <div>{{product.Name}}</div>
            </div>
            <div class="subtitleRow" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <div fxFlex>
                <b matTooltip="Type" matTooltipPosition="after">T:</b>
                {{enums.typeToString('productType', product.Type)}}
              </div>
              <div fxFlex [hidden]="enums.typeToString('productType', product.Type) == 'Service'">
                <b matTooltip="Quantity" matTooltipPosition="after">Q:</b> {{product.Quantity}}
              </div>
            </div>
            <div class="imageRow" fxLayout="row" fxLayoutAlign="center center" [ngSwitch]="product.Images.length">
              <mat-icon *ngSwitchCase="0" class="imageIcon">panorama</mat-icon>
              <img *ngSwitchDefault src="{{onGetSafeLogoURL(product)}}" (click)="onImageClick(product)">
            </div>
            <div fxFlex class="descriptionRow">
              <b>Description:</b> {{product.Description}}
            </div>
            <div class="actionRow">
              <button mat-button (click)="onProductDetailClick(product.Id)">
                <mat-icon>web_asset</mat-icon>
                <span>Details</span>
              </button>
              <button [hidden]="product.Quantity === 0 || userId === product.Owner.Id" mat-button color="primary"
                (click)="onProductOrderClick(product)">
                <mat-icon>done</mat-icon>
                <span>Order</span>
              </button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>