img {
  height:100%;
  width:100%;
}

.imgContainer {
  position: relative;
  height:100%;
  width:100%;
}

.imgContainer button {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  color: lightsalmon;
}

.imgContainer button:hover {
  color: red;
}

.sizex4{
  transform: scale(4);
}

.percent100{
  height:100%;
  width:100%;
}

.square{
  height:20vw;
  width:20vw;
}