<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-grid-list cols="4">
    <mat-grid-tile [colspan] = 1>

    </mat-grid-tile>
    <mat-grid-tile [colspan] = 3>
      <app-form #dialogForm [rows]="rows"></app-form>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between stretch">
  <div fxFlex fxLayout="row">
    <button mat-button *ngFor="let button of buttons| keyvalue: getInOrder" [disabled]="button.value.disabled" (click)="onClick(button.key)">
      <mat-icon *ngIf="button.value.icon">{{button.value.icon}}</mat-icon>
      {{button.value.label}}
    </button>
  </div>
  <button mat-button (click)="onClose()">
    <mat-icon>cancel</mat-icon>
    Cancel
  </button>
</div>