<div fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="5px" class="height100">
  <mat-toolbar fxFlex="40px" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button (click)="toggleNavbar()">
      <mat-icon *ngIf="toggle.icon" [attr.aria-label]="toggle.description">{{toggle.icon}}</mat-icon>
    </button>
    <span>NextDoor</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon aria-label="Example home icon">account_box</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onMyProfileClick()">My Profile</button>
        <button mat-menu-item (click)="onLogoutClick()">Logout</button>
      </mat-menu>
    </button>
  </mat-toolbar>
  <mat-sidenav-container fxFlex>
    <mat-sidenav #sidenav mode="side" opened>
      <mat-list>
        <a mat-list-item [routerLinkActive]="['active']" routerLink="/main/dash">Dashboard</a>
        <a mat-list-item [routerLinkActive]="['active']" routerLink="/main/products-all" class="width100" fxLayout="row" fxLayoutAlign="space-between stretch">
          <div fxFlex>All Products</div>
          <button mat-icon-button color="warn" (click)="onProductAdd()">
            <mat-icon>add_circle</mat-icon>
          </button>
        </a>
        <mat-list style="padding-top: 0px;">
          <mat-expansion-panel expanded=true hideToggle=true>
            <mat-expansion-panel-header>
              My Hub
            </mat-expansion-panel-header>
            <a mat-list-item class="paddingLeft8" [routerLinkActive]="['active']" routerLink="/main/products-shop">My Products</a>
            <a mat-list-item class="paddingLeft8" [routerLinkActive]="['active']" routerLink="/main/orders-to-fulfill">Orders To Fulfill</a>
            <a mat-list-item class="paddingLeft8" [routerLinkActive]="['active']" routerLink="/main/orders-to-receive">Orders To Receive</a>
          </mat-expansion-panel>
        </mat-list>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content [ngClass]="{'navPadding': toggle.enabled==true}">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar fxFlex="32px" fxLayout="row" fxLayoutAlign="center center">
    <span>Copyright @NextDoor</span>
  </mat-toolbar>
</div>