<div fxLayout="column" fxLayoutAlign=" stretch" class="height100">
  <mat-toolbar fxFlex="40px" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button (click)="toggleNavbar()">
      <mat-icon *ngIf="toggle.icon" [attr.aria-label]="toggle.description">{{toggle.icon}}</mat-icon>
    </button>
    <span>NextDoor</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon aria-label="Example home icon">account_box</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onMyProfileClick()">My Profile</button>
        <button mat-menu-item (click)="onLogoutClick()">Logout</button>
      </mat-menu>
    </button>
  </mat-toolbar>
  <mat-sidenav-container fxFlex>
    <mat-sidenav #sidenav mode="side" opened>
      <mat-list>
        <mat-list-item [routerLinkActive]="['active']">
          <a routerLink="/main/dash">Dashboard</a>
        </mat-list-item>
        <mat-list-item [routerLinkActive]="['active']" fxLayout="row" fxLayoutAlign="space-between stretch">
          <a fxFlex routerLink="/main/products-all">All Products</a>
          <button mat-icon-button color="warn" (click)="onProductAdd()">
            <mat-icon>add_circle</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item style="color: #0366D6;">
          My Hub
        </mat-list-item>
        <mat-list style="padding-top: 0px;">
          <div>
            <mat-list-item [routerLinkActive]="['active']" style="padding-left: 8px;">
              <a routerLink="/main/products-shop">My Products</a>
            </mat-list-item>
            <mat-list-item [routerLinkActive]="['active']" style="padding-left: 8px;">
              <a routerLink="/main/orders-to-fulfill">Orders To Fulfill</a>
            </mat-list-item>
            <mat-list-item [routerLinkActive]="['active']" style="padding-left: 8px;">
              <a routerLink="/main/orders-to-receive">Orders To Receive</a>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content [ngClass]="{'navPadding': toggle.enabled==true}">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar fxFlex="32px" fxLayout="row" fxLayoutAlign="center center">
    <span>Copyright @NextDoor</span>
  </mat-toolbar>
</div>