.imgContainer {
  object-fit: contain;
  height: 700px;
  width: 700px;
}

.imgContainer > img {
  height: 100%;
  width: 100%;
}

::ng-deep .mat-dialog-container {
  padding: 34px 5px;
}

hr {
  margin: 10px 29px;
}

::ng-deep .mat-button {
  min-width: 0px;
  padding: 0px;
}

mat-icon {
  color: #252525;
}

.thumbnail {
  height: 100px;
  width: 100px;;
}

.selected {
  border-style: solid;
  border-color: #C23531;
}