<div class="height100">
  <mat-card fxFlex="40" fxFlexOffset="30" fxFlexAlign="center">
    <mat-card-title>Register Card</mat-card-title>
    <mat-card-subtitle>
      Please fill in the details for an account. Already have one?
      <a routerLink="../login">Login</a>
    </mat-card-subtitle>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput type="text" placeholder="First Name" [formControl]="registerFormGroup.get('firstName')" [errorStateMatcher]="matcher">
        <mat-error *ngIf="registerFormGroup.get('firstName').hasError('minlength')">
            Please enter a first name with length grater than 3.
        </mat-error>
        <mat-error *ngIf="registerFormGroup.get('firstName').hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Last Name" [formControl]="registerFormGroup.get('lastName')" [errorStateMatcher]="matcher">
        <mat-error *ngIf="registerFormGroup.get('lastName').hasError('minlength')">
            Please enter a last name with length grater than 3.
        </mat-error>
        <mat-error *ngIf="registerFormGroup.get('lastName').hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="Email" [formControl]="registerFormGroup.get('email')" [errorStateMatcher]="matcher">
        <mat-error *ngIf="registerFormGroup.get('email').hasError('email') && !registerFormGroup.get('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="registerFormGroup.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="phoneNumber" placeholder="Phone Number" [formControl]="registerFormGroup.get('phoneNumber')" [errorStateMatcher]="matcher">
        <mat-error *ngIf="(registerFormGroup.get('phoneNumber').hasError('pattern') || registerFormGroup.get('phoneNumber').hasError('minlength')) && !registerFormGroup.get('phoneNumber').hasError('required')">
          Please enter a valid phone number. Minimum 3 digits.
        </mat-error>
        <mat-error *ngIf="registerFormGroup.get('phoneNumber').hasError('required')">
          Phone number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [formControl]="registerFormGroup.get('passwordGroup').get('password1')" (input)="onPasswordInput()" [errorStateMatcher]="matcher">
        <mat-error *ngIf="registerFormGroup.get('passwordGroup').get('password1').hasError('minlength') && !registerFormGroup.get('passwordGroup').get('password1').hasError('required')">
          Please enter a password with length grater than 7.
        </mat-error>
        <mat-error *ngIf="registerFormGroup.get('passwordGroup').get('password1').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Confirm Password" [formControl]="registerFormGroup.get('passwordGroup').get('password2')" (input)="onPasswordInput()" [errorStateMatcher]="matcher">
        <mat-error *ngIf="registerFormGroup.get('passwordGroup').get('password2').hasError('required')">
          Password confirmation <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerFormGroup.get('passwordGroup').get('password2').invalid && !registerFormGroup.get('passwordGroup').get('password1').hasError('required')">
          Passwords do not match.
        </mat-error>
      </mat-form-field>
      <hr>
      <div>GDPR Terms:</div>
      <div>The application will use the data you provide <i>only</i> for the purpose of:</div>
      <div>&#9657; displaying your products to other users</div>
      <div>&#9657; displaying your order and contact information to the seller</div>
      <hr>
      <mat-checkbox [formControl]="registerFormGroup.get('gdprCheck')">I agree</mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onRegister($event)" [disabled]="isFormInvalid()">Register</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
