.height100 {
  height: 100%;
}

.title, .font24{
  font-size: 24px;
  font-weight: 500;
}

.font20 {
  font-size: 20px;
  font-weight: 500;
}

.font16 {
  font-size: 16px;
  font-weight: 500;
}

.red {
  color: #C23531;
}

.blue {
  color: #2F4554;
}





.demo-chart {
  height:500px;
}