<form [formGroup]="form">
  <div *ngFor="let row of rows">
    <div fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="10px">
      <ng-container *ngFor="let filter of row| keyvalue" [ngSwitch]="filter.value.type">
        <!-- Text -->
        <mat-form-field [fxFlex]="filter.value.size" *ngSwitchCase="'text'">
          <mat-label>{{filter.value.label}}</mat-label>
          <input matInput [formControlName]="filter.key" [id]="filter.key" [type]="filter.value.type" [readonly]="filter.value.disabled">
        </mat-form-field>
        <!-- Number -->
        <mat-form-field [fxFlex]="filter.value.size" *ngSwitchCase="'number'">
          <mat-label>{{filter.value.label}}</mat-label>
          <input matInput [formControlName]="filter.key" [id]="filter.key" [type]="filter.value.type" [min]="filter.value.minValue" [readonly]="filter.value.disabled">
        </mat-form-field>
        <!-- TextArea -->
        <mat-form-field [fxFlex]="filter.value.size" *ngSwitchCase="'textarea'">
          <mat-label>{{filter.value.label}}</mat-label>
          <textarea matInput [formControlName]="filter.key" [id]="filter.key" [readonly]="filter.value.disabled" [rows]="filter.value.rows"></textarea>
        </mat-form-field>
        <!-- Select -->
        <mat-form-field [fxFlex]="filter.value.size" *ngSwitchCase="'select'">
          <mat-label>{{filter.value.label}}</mat-label>
          <mat-select *ngSwitchCase="'select'" [formControlName]="filter.key">
            <mat-option *ngFor="let option of filter.value.options" [value]="option.code">
              {{option.des}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Interval -->
        <mat-form-field [fxFlex]="filter.value.size" *ngSwitchCase="'interval'">
          <mat-label>{{filter.value.label}}</mat-label>
          <input matInput [formControlName]="filter.key" [satDatepicker]="picker">
          <sat-datepicker #picker [rangeMode]="true" [closeAfterSelection]="false"> </sat-datepicker>
          <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
        </mat-form-field>
        <!-- Placeholder -->
        <div [fxFlex]="filter.value.size" *ngSwitchCase="'placeholder'"></div>
      </ng-container>
    </div>
  </div>
</form>